.App {
  min-width: 320px;
  min-height: 100vh;
}

.App-backgroundShape {
  z-index: -999;
  position: absolute;
  top: 0;
  height: 40vh;
  width: 100%;
  background-color: #0891b2;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
